.repositoryList {
  background-color: white;
  border: solid 1px #dddddd;
  text-align: left;
  list-style: none;
  padding: 1rem;
  height: 10rem;
  overflow: scroll;
}

.amountText {
  text-align: left;
  font-size: 0.9rem;
  text-transform: uppercase;
}
