<ol class="repository-list">
	<li class="repository" ng-repeat="repository in repositories">
		<h2 class="heading">{{ repository.name }}</h2>
		<div class="custom-select">
			<select class="branch" ng-model="branchFilter" ng-options="branch.name for branch in repository.branches"  ng-init="branchFilter = repository.branches[0]">
			</select>
		</div>
		<ol class="commits" ng-repeat="branch in repository.branches | filter:branchFilter.name">
			<li class="commit" ng-class="{ expanded : $first }"  ng-repeat="commit in branch.commits">
				<div class="user">
					<img class="avatar" src="{{ commit.avatar }}" />
					<h3 class="name">{{ commit.contributer }}</h3>
				</div>
				<div class="details">
					<div class="hash">#{{ commit.hash }}</div>
					<div class="date">{{ commit.date }}</div>
					<p class="message">{{ commit.message }}</p>
				</div>
			</li>
		</ol>
	</li>
</ol>