.loginForm {
  padding: 2rem;
}
.heading {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 2rem;
}
.input {
  composes: input from "components/input/styles.css";
}
.githubButton {
  composes: button from "components/button/styles.css";
  text-decoration: none;
  display: flex;
  align-items: center;
}
.githubIcon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  fill: white;
}
