.loginForm {
  padding: 2rem;
}
.heading {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 0 2rem;
}
input {
  display: block;
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}
