.commit-range {
  margin: 1rem 0 0;
  position: relative;
}
.commit-range:before {
  content: '';
  left: calc(-1.25rem - 1  px);
  top: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  border: solid 2px #bbbbbb;
  position: absolute;
  
  background-color: #f3f3f6;
}
.commit {
  width: 100%;
  display: inline-flex;
  background-color: white;
  padding: 1rem;
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.details {
  padding-left: 1rem;
  overflow: hidden;
}
.message {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.author {
  font-weight: bold;
  font-size: 0.8rem;
}
.date {
  display: block;
  color: #bbbbbb;
  margin-bottom: 0.5rem;
}
