// ------------------------- Presentation variables

$sans-serif: "Helvetica Neue", Arial, sans-serif;

// ------------------------- Layout metrics

$global-spacing: 1rem;

// ------------------------- Color palette 

$colors: (
	grey: (
		light: #eeeeee,
		base: #dddddd,
		dark: #111111
	),
	green: (
		light: #b4d252,
		base: #90a93d,
		dark: #748636
	)
);
