.main {
  display: flex;
}
.userBio {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}
.avatarActions {
  margin-left: 1rem;
}
.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: #1b1e27;
}
